body {
  font-family: 'Poppins', sans-serif;
  overflow-y: hidden;
}

* {
  box-sizing: border-box;
  max-width: 100vw;
}

html {
  scroll-behavior: smooth;
  width: 100vw;
}

html,
body {
  overflow-x: hidden;
  width: 100vw;
  position: relative;
  margin-left: 0px;
  margin-bottom: 0px;
}


.upHome {
  height: 50px;
  width: 50px;
  background-color: white;
  position: fixed;
  right: -60px;
  bottom: 40px;
  border-radius: 50%;
  transition: all 0.3s ease;
  z-index: 10;
  box-shadow: 0 0 5px rgba(12, 45, 42, 0.507);
  opacity: 0;
  transform: translateX(70px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.upHome.show {
  opacity: 1;
  transform: translateX(-90px);
}

.upHome>img {
  height: 35px;
  width: 35px;
}

.reveal {
  opacity: 0;
  transform: translateY(45px);
  transition: all 0.4s ease-out;
}

.reveal.active {
  opacity: 1;
}

@media(max-width: 768px) {
  .upHome {
    top: 20px;
    right: -50px;
    transform: translateX(70px);
    height: 40px;
    width: 40px;
  }

  .upHome > img {
    height: 30px;
    width: 30px;
  }

  .upHome.show {
    opacity: 1;
    transform: translateX(-70px);
  }
}