.foot{
    height: 250px;
    max-width: 2000px;
    position: relative;
    top: 1000px;
    background-image: url('./assets/footBackgrount.png');
    background-size: cover;
    align-items: center;
}

.footNav {
    display: block;
    position: relative;
    margin: 0 auto;
    width: 510px;
    /* border: 2px solid red; */
    top: 50px;
}

.footNav > a {
    padding: 10px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 18px;
}

.thaink {
    font-size: 15px;
    font-weight: bold;
    position: relative;
    top: 85px;
    width: 380px;
    text-align: center;
    margin: 0 auto;
}

.contact {
    width: 450px;
    position: relative;
    margin: 0 auto;
    top: 70px;
}

.contact > a  {
    display: inline-block;
    height: 40px;
    width: 40px;
    /* border: 2px solid red; */
    margin: 15px;
}

.mail {
    background-image: url('./assets/Gmail.png');
    background-size: cover;
    align-items: center;
      
}
.linked {
    background-image: url('./assets/LinkedIn.png');
    background-size: cover;
    align-items: center;
}
.insta {
    background-image: url('./assets/Instagram.png');
    background-size: cover;
    align-items: center;
}
.whats {
    background-image: url('./assets/WhhatsApp.png');
    background-size: cover;
    align-items: center;
}
.call {
    background-image: url('./assets/Call.png'); 
    background-size: cover;
    align-items: center;
}
.Git {
    background-image: url('./assets/contGit.png');
    background-size: cover;
    align-items: center;
}

.adFoot {
    height: 0px;
    position: relative;
    top: 1000px;
    /* border: 2px solid red; */
}

@media(max-width: 768px){
    .foot{
        height: 200px;
        max-width: 800px;
        top: 1100px;
    }
    
    .footNav {
        width: 300px;
        top: 50px;
    }
    
    .footNav > a {
        padding: 5px;
        font-size: 14px;
    }
    
    .thaink {
        font-size: 13px;
        top: 65px;
        width: 350px;
    }
    
    .contact {
        width: 300px;
        top: 60px;
    }
    
    .contact > a {
        height: 30px;
        width: 30px;
        margin: 10px;
    }
}