.main {
    width:150px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 30px;
    left:30px;
}

.logo {
    width: 50px;
    height: 30px;
    border-radius: 15px;
    background-color: rgba(123, 142, 255, 1);
    margin: 2px;
}

h1 {
    color: rgba(123, 142, 255, 1);
    font-size: 20px;
    font-weight: bold;
    margin: 8px;
}

.nav {
    position: relative;
    top: 28px;
    width: 476px;
    margin: 0 auto;
}

.nav > a{
    text-decoration: none;
    font-weight: 600;
    color: rgba(67, 95, 255, 1);
    padding: 11px;
}

.Menu_But {
    background: none;
    height: 35px;
    width: 40px;
    border: none;
    position: absolute;
    right: 50px;
    top: 30px;
    /* border: 2px solid red; */
    display:flex;
    justify-content: center;
    align-items: center;
}

.menuImg {
    width: 20px;
    height: 20px;
}

.menu {
    display: grid;
    justify-content: center;
    background-color: rgba(243, 245, 255, 0.521);
    position: absolute;
    left: 1160px;
    top: 70px;
    padding: 10px;
    z-index: 2;
}

.menu > p {
    padding: 0px;
    font-weight: bold;
    color: rgb(182, 182, 182);
}

.menu > a {
    text-decoration: none;
    color: rgba(23, 36, 112, 0.979);
    font-weight: bold;
    padding: 5px;
}

.OnlyMobile {
    display: none;
}

@media (max-width: 768px) {
    .OnlyMobile {
        display: block;
    }

    .OnlyDesktop {
        display: none;
    }

    .main {
        width:130px;
        top: 20px;
        left:20px;
    }
    
    .logo {
        width: 35px;
        height: 20px;
    }
    
    h1 {
        font-size: 18px;
    }
    
    .nav {
        display: none;
    }
    
    .Menu_But {
        right: 35px;
        top: 20px;
    }

    .menu {
        left: 300px;
        top: 50px;
    }
}