.skill_block {
    background-color: rgba(183, 193, 254, 0.28);
    width: 1100px;
    height: 620px;
    margin: 0 auto;
    position: relative;
    top: 620px;
    border-radius: 20px;
}
.adSkill {
    height: 30px;
    position: relative;
    top: 610px;
    /* border: 2px solid red; */
}

.skill_tit {
    text-align: center;
    color: rgba(56, 86, 255, 1);
    font-size: 30px;
    font-weight: bolder;
    padding-top: 16px;
}

.skill_sub {
    text-align: center;
    color: rgba(126, 145, 255, 1);
    font-size: 16px;
    font-weight: bolder;
    padding-top: 16px;
}

.Frountend, .Backend, .Other {
    background: rgba(185, 192, 240, 0.479);
    width: 450px;
    height: 200px;
    border: 3px solid rgba(96, 104, 148, 0.38);
    border-radius: 18px;
    z-index: 2;
    box-shadow: 0px 0px 30px rgba(159, 174, 255, 0.81);
}

.Frountend > h1, .Backend > h1, .Other > h1 {
    text-align: center;
    font-size: 20px;
}

.Frountend {
    position: absolute;
    left: 80px;
    top: 140px;
}


.Backend {
    position: absolute;
    right: 80px;
    top: 140px;
}

.Other {
    position: absolute;
    left: 200px;
    top: 370px;
    width: 690px;
}

.skill_block  div  img {
    height: 30px;
    width: 30px;
}

.Frountend > div, .Backend > div, .Other > div {
    border: 2px solid rgba(83, 109, 255, 0.73);
    display: flex;
    /* width: 150px; */
    height: 40px;
    text-align: center;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
}

.Frountend > div > p , .Backend > div > p , .Other > div > p {
    padding-left: 8px;
    color: rgba(126, 145, 255, 1);
    font-size: 16px;
    font-weight: bolder;;
    font-size: 16px;
    font-weight: bolder;
}

.html{
    width: 115px;
    position: absolute;
    left: 80px;
    top: 55px;
}

.javaScript{
    width: 150px;
    position: absolute;
    left: 215px;
    top: 55px;
}

.css {
    width: 90px;
    position: absolute;
    left: 105px;
    top: 110px;
}

.reactJS {
    width: 125px;
    position: absolute;
    left: 210px;
    top: 110px;
}

.java {
    width: 100px;
    position: absolute;
    left: 100px;
    top: 55px;
}

.nodeJS {
    width: 120px;
    position: absolute;
    left: 220px;
    top: 55px;
}

.springBoot {
    width: 160px;
    position: absolute;
    left:140px;
    top: 110px;
}

.mongoDB {
    width: 140px;
    position: absolute;
    left: 60px;
    top: 55px;
}

.mySQL {
    width: 120px;
    position: absolute;
    left: 217px;
    top: 55px;
}

.figma {
    width: 130px;
    position: absolute;
    left: 353px;
    top: 55px;
}

.maven {
    width: 120px;
    position: absolute;
    left: 500px;
    top: 55px;
}

.git {
    width: 85px;
    position: absolute;
    left: 235px;
    top: 115px;
}

.gitHub {
    width: 120px;
    position: absolute;
    left: 340px;
    top: 115px;
}

@media(max-width: 768px) {
    .skill_block {
        width: 380px;
        height: 835px;
        top: 530px;
    }
    
    .skill_tit {
        font-size: 25px;
    }
    
    .skill_sub {
        font-size: 14px;
    }
    
    .Frountend, .Backend, .Other {
        width: 350px;
        height: 200px;
        position: relative;
        margin: 0 auto;
        left: 0px;
    }
    
    .Frountend > h1, .Backend > h1, .Other > h1 {
        text-align: center;
        font-size: 18px;
    }
    
    .Frountend {
        top: 30px;
    }
    
    
    .Backend {
        top: 50px;
    }
    
    .Other {
        top: 70px;
        height: 240px;
    }
    
    .skill_block  div  img {
        height: 30px;
        width: 30px;
    }
    
    .html{
        left: 30px;
        top: 55px;
    }
    
    .javaScript{
        left: 165px;
        top: 55px;
    }
    
    .css {
        left: 65px;
        top: 115px;
    }
    
    .reactJS {
        left: 170px;
        top: 115px;
    }
    
    .java {
        left: 50px;
        top: 55px;
    }
    
    .nodeJS {
        left: 170px;
        top: 55px;
    }
    
    .springBoot {
        position: relative;
        left:0px;
        top: 75px;
        margin: 0 auto;
    }
    
    .mongoDB {
        left: 30px;
        top: 55px;
    }
    
    .mySQL {
        width: 120px;
        position: absolute;
        left: 190px;
        top: 55px;
    }
    
    .maven {
        left: 50px;
        top: 115px;
    }
    
    .git {
        left: 185px;
        top: 115px;
    }
    
    .gitHub {
        left: 35px;
        top: 175px;
    }
    
    .figma {
        left: 173px;
        top: 175px;
    }

    .adSkill {
        top: 535px;
    }
}