.Visi {
    position: relative;
    top: 700px;
}

.Visi > h2 {
    text-align: center;
    color: rgba(56, 86, 255, 1);
    font-size: 30px;
    font-weight: bolder;
}

.Visi > p {
    text-align: center;
    color: rgba(126, 145, 255, 1);
    font-size: 16px;
    font-weight: bolder;
    position: relative;
    bottom: 15px;
}

.map {
    position: absolute;
    left: 220px;
    /* bottom: 5px; */
    top: 220px;
}

.VisBlock {
    width: 680px;
    margin: 0 auto;
    background-color: rgba(183, 193, 254, 0.28);
    border-radius: 15px;
}

.VisBlock > h2 {
    color: rgba(56, 86, 255, 0.67);
    position: relative;
    left: 35px;
    top: 20px;
    font-weight: bolder;
    font-size: 30px;
}

.VisBlock > p {
    width: 560px;
    color: rgba(126, 145, 255, 1);
    position: relative;
    left: 80px;
    top: 2px;
    font-weight: bold;
    font-size: 16px;
}

.A {
    position: relative;
    top: 11px;
    height: 205px;
}

.B {
    position: relative;
    top: 60px;
    height: 225px;
}

.C {
    position: relative;
    height: 230px;
    top: 110px;
}

.adVis {
    height: 30px;
    position: relative;
    top: 730px;
}

@media(max-width: 768px) {
    .Visi {
        top: 800px;
    }
    
    .Visi > h2 {
        font-size: 25px;
    }
    
    .Visi > p {
        font-size: 14px;
    }
    
    .map {
        position: absolute;
        left: 0px;
        top: 180px;
    }
    
    .VisBlock {
        width: 350px;
        margin: none;
        position: relative;
        left: 20px;
    }
    
    .VisBlock > h2 {
        font-size: 22px;
        left: 20px;
        top: 10px;
    }
    
    .VisBlock > p {
        width: 290px;
        left: 45px;
        top: -4px;
        font-weight: bold;
        font-size: 14px;
    }
    
    .A {
        position: relative;
        top: 11px;
        height: 225px;
    }
    
    .B {
        position: relative;
        top: 60px;
        height: 225px;
    }
    
    .C {
        position: relative;
        height: 230px;
        top: 110px;
    }
}