.click-spark {
  height: 100%;
  position: relative;
  width: 100%;
}

.click-spark-canvas {
  display: block;
  height: 100%;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  user-select: none;
  width: 100%;
  z-index: 60;
}
