.feed {
    position: relative;
    top: 950px;
    text-align: center;
}

.feed > h2 {
    text-align: center;
    color: rgba(56, 86, 255, 1);
    font-size: 30px;
    font-weight: bolder;
}

.feed > p {
    text-align: center;
    color: rgba(126, 145, 255, 1);
    font-size: 16px;
    font-weight: bolder;
    position: relative;
    bottom: 20px;
}

.inputBox {
    width: 950px;
    margin: 0 auto;
}

.inputBox > .left {
    margin-left: 90px;
}

input {
    height: 50px;
    width: 400px;
    background-color: rgba(221, 226, 255, 1);
    margin-bottom: 40px;
    border: 3px solid rgba(88, 113, 255, 1);
    border-radius: 26px;
    color: rgba(126, 145, 255, 0.83);
    font-size: 17px;
    font-weight: bold;
    padding-left: 20px;
}

input[type="text"] {
    padding-left: 20px;
}
  
input[type="number"] {
      padding-left: 20px;
}

::placeholder {
    font-size: 17px;
    font-weight: bold;
    color: rgba(126, 145, 255, 0.83);
}

button{
    font-size: 30px;
    background: none;
    border: none;
    color: rgb(126, 126, 126);
    padding: 10px;
}

.clicked {
    color: rgba(255, 195, 0, 1);
}

.notClinked {
    color: gray;
}

.submit {
    background-color: rgba(172, 184, 255, 1);
    border: none;
    height: 40px;
    width: 200px;
    color: rgba(32, 44, 110, 1);
    font-weight: bolder;
    font-size: 18px;
    border-radius: 20px;
    position: absolute;
    left: 900px;
    bottom: 10px;
}

@media(max-width: 768px) {
    .feed {
        top: 1050px;
    }
    
    .feed > h2 {
        font-size: 25px;
    }
    
    .feed > p {
        font-size: 14px;
    }
    
    .inputBox {
        width: 400px;
        margin: 0 auto;
    }
    
    .inputBox > .left {
        margin-left: 0px;
    }
    
    input {
        height: 40px;
        width: 350px;
        margin-bottom: 20px;
    }
    
    .submit {
        position: relative;
        left: 0px;
        top: 15px;
        margin: 0 auto;
    }
    
}