.Jour{
    position: relative;
    top: 650px;
}

.Jour > h2 {
    text-align: center;
    color: rgba(56, 86, 255, 1);
    font-size: 30px;
    font-weight: bolder;
    padding-top: 16px;
}

.Jour > p {
    font-size: 16px;
    text-align: center;
    color: rgba(126, 145, 255, 0.63);
    position: relative;
    bottom: 20px;
    font-weight: bolder;
}

.JourImage {
    display: flex;
    margin: 0 auto;
    margin-top: 40px;
}

.JourImageMob {
    display: none;
}

@media(max-width: 768px) {
    .Jour{
        position: relative;
        top: 600px;
    }
    
    .Jour > h2 {
        font-size: 25px;
    }
    
    .Jour > p {
        font-size: 14px;
    }
    
    .JourImage {
        display: none;
    }

    .JourImageMob {
        display: block;
        width: 400px;
        margin: 0 auto;
    }
}