body {
    background: rgba(221, 226, 255, 1);
    font-family: 'Poppins', sans-serif;
}



@media (max-width: 768px){
    body {
        background: rgba(221, 226, 255, 1);
        font-family: 'Poppins', sans-serif;
    }
}