@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.Name{
    position: absolute;
    top: 200px;
    left: 130px;
    color: rgba(67, 95, 255, 1);
    font-weight: bold;
    font-size: 35px;
    line-height: 1.2;
}

.im {
    position: absolute;
    top: 255px;
    left: 130px;
    color: rgba(67, 95, 255, 1);
    font-weight: bold;
    font-size: 30px;
}

.glow {
    position: absolute;
    top: 290px;
    left: 215px;
    color: rgba(67, 95, 255, 1);
    font-weight: bold;
    font-size: 31px;
    line-height: 1.2;
    text-shadow: 0 0 10px #fff, 0 0 10px #fff, 0 0 10px rgba(67, 95, 255, 1), 0 0 7px rgba(67, 95, 255, 1);
}

.quickAbout{
    position: absolute;
    top: 340px;
    left: 130px;
    color: rgba(123, 142, 255, 0.81);
    font-weight: bold;
    font-size: 16px;
    line-height: 1.2;
    width: 500px;
}

.CheckResume {
    background: linear-gradient(90deg, #C226FF 0%, #9D06FF 36%, #0025FF 100%);
    position: absolute;
    top: 440px;
    left: 130px;
    width: 280px;
    height: 55px;
    border-radius: 15px;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Prof_img {
    width: 290px;
    height: 290px;
    background-color: rgba(128, 146, 255, 1);
    border-radius: 50%;
    position: absolute;
    top: 190px;
    left: 900px;
    box-shadow:0 0 25px rgba(67, 95, 255, 1), 0 0 7px rgba(67, 95, 255, 1);
}

.Prof_bac {
    transform: rotate(90deg);
    display: inline-block;
    font-size: 90px;
    font-weight: bold;
    position: relative;
    left: 930px;
    top: 260px;
    color: rgba(186, 196, 255, 0.58);
    z-index: -1;
}

@media (max-width: 768px) {
    .Prof_img {
        width: 200px;
        height: 200px;
        position: relative;
        top: 135px;
        left: 0px;
        margin: 0 auto;
    }
    
    .Prof_bac {
        font-size: 45px;
        left: 180px;
        top: 0px;
    }

    .Name{
        top: 420px;
        left: 40px;
        font-size: 25px;
    }
    
    .im {
        top: 468px;
        left: 41px;
        font-size: 22px;
    }
    
    .glow {
        top: 495px;
        left: 110px;
        font-size: 22px;
    }
    
    .quickAbout{
        top: 540px;
        left: 40px;
        font-size: 15px;
        width: 360px;
    }
    
    .CheckResume {
        top: 660px;
        left: 40px;
        width: 220px;
        height: 50px;
        font-size: 18px;
    }
}