.foot {
    height: 210px;
    width: 99vw;
    position: relative;
    top: 0px;
    background-color: rgba(84, 97, 108, 1);
    color: white;
    border-radius: 20px 20px 0px 0px;
    /* border:2px solid red; */
}

.footNav {
    display: flex;
    position: relative;
    margin: 0 auto;
    /* width: 420px; */
    /* border: 2px solid red; */
    top: 30px;
    gap: 20px;
    justify-content: center;
}

.footNav>a {
    /* border: 2px solid red; */
    text-decoration: none;
    color: white;
    font-size: 18px;
    display: block;
}

.footNav > a:hover {
    transform: scale(1.1);
}

.thank {
    font-size: 15px;
    position: relative;
    top: 65px;
    width: 380px;
    text-align: center;
    margin: 0 auto;
}

.contact {
    width: 420px;
    position: relative;
    margin: 0 auto;
    top: 50px;
    display: flex;
    justify-content: center;
    gap: 15px;

}

.contact>a {
    display: inline-block;
    height: 40px;
    width: 40px;
    margin: 15px;
}

.contact .icon {
    width: 35px;
    /* adjust size */
    height: 35px;
    margin: 8px;
}


.contact>div {
    height: 50px;
    width: 50px;
    background-color: white;
    display: flex;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.contact>div:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.753);
}

.adFoot {
    height: 0px;
    position: relative;
    top: 150px;
}

@media(max-width: 768px) {
    .foot {
        height: 200px;
        max-width: 800px;
        /* border: 2px solid red; */
        top: 0px;
    }
    
    .footNav {
        width: 300px;
        top: 20px;
        gap: 10px;
    }

    .footNav>a {
        padding: 5px;
        font-size: 14px;
    }

    .contact {
        width: 300px;
        top: 35px;
    }

    .contact>a {
        height: 30px;
        width: 30px;
        margin: 10px;
    }

    .thank {
        top: 55px;
    }

    .adFoot {
        height: 0px;
        position: relative;
        top: 0px;
        /* border: 2px solid red; */
    }

}