.foot{
    height: 240px;
    width: 100%;
    position: relative;
    top: 180px;
    background-color: rgba(84, 97, 108, 1);
    color: white;
    border-radius: 20px;
}

.footNav {
    display: block;
    position: relative;
    margin: 0 auto;
    width: 420px;
    /* border: 2px solid red; */
    top: 30px;
}

.footNav > a {
    padding: 10px;
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.thank {
    font-size: 15px;
    position: relative;
    top: 65px;
    width: 380px;
    text-align: center;
    margin: 0 auto;
}

.contact {
    width: 420px;
    position: relative;
    margin: 0 auto;
    top: 50px;
    display: flex;
    justify-content: center;
    gap: 15px;
    /* border: 1px solid red; */

}

.contact > a  {
    display: inline-block;
    height: 40px;
    width: 40px;
    margin: 15px;
}

.contact .icon {
  width: 35px;   /* adjust size */
  height: 35px;
  margin: 8px;
}


.contact > div {
    height: 50px;
    width: 50px;
    background-color: white;
    display: flex;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.contact > div:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.753);
}

/* .adFoot {
    height: 0px;
    position: relative;
    top: 1000px;
    border: 2px solid red;
} */

@media(max-width: 768px){
    .foot{
        height: 200px;
        max-width: 800px;
        top: 750px;
    }
    
    .footNav {
        width: 300px;
        top: 50px;
    }
    
    .footNav > a {
        padding: 5px;
        font-size: 14px;
    }
    
    .thaink {
        font-size: 13px;
        top: 65px;
        width: 350px;
    }
    
    .contact {
        width: 300px;
        top: 60px;
    }
    
    .contact > a {
        height: 30px;
        width: 30px;
        margin: 10px;
    }
}