.main {
    width: 190px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 60px;
    left: 80px;
    /* border: 2px solid red; */
    margin-top: -5px;
    margin-bottom: 5px;
}

.logo {
    width: 40px;
    height: 20px;
    border-radius: 15px;
    background-color: rgba(235, 235, 235, 1);
    margin: 2px;
    border: 5px solid rgba(59, 75, 171, 1);
}

h1 {
    color: rgba(59, 75, 171, 1);
    font-size: 23px;
    font-weight: bold;
    margin: 8px;
}

.nav {
    position: relative;
    top: 20px;
    left: 22vw;
    width: 570px;
    margin: 0 auto;
    z-index: 4;
}

.nav>a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: rgba(59, 75, 171, 1);
    padding: 11px;
    display: inline-block;
    transition: transform 0.3s ease;
}

.nav>a:hover {
    transform: scale(1.12);
    color: rgb(48, 62, 138);
}

@media (max-width: 768px) {
    .main {
        width: 150px;
        top: 20px;
        left: 20px;
        border: 1px solid red;
        display: none;
    }

    .logo {
        width: 35px;
        height: 20px;
    }

    h1 {
        font-size: 18px;
    }

    .nav {
        position: relative;
        left: 0;
        width: 95vw;
        margin: 0 auto;
        /* border: 2px solid red; */
        display: flex;
        overflow-y: auto;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .hide-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .nav>a {
        font-size: 17px;
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
        margin: 2px;
        display: block;
        background-color: white;
        border: 1px solid gray;
        border-radius: 10px;
    }

    .nav>a:hover {
        transform: none;
    }
}