.Jour{
    position: relative;
    bottom: 50px;
    padding-bottom: 20px;
}

.Jour > h2 {
    text-align: center;
    color: rgba(12, 45, 42, 1);
    font-size: 30px;
    font-weight: bolder;
    padding-top: 16px;
    position: relative;
    top: 20px;
}

.Jour > p {
    font-size: 16px;
    text-align: center;
    color: rgba(12, 45, 42, 0.67);
    position: relative;
    font-weight: bolder;
}

.JourImage {
    display: flex;
    margin: 0 auto;
    margin-top: 50px;
    width: 89%;
}

.JourImageMob {
    display: none;
}

.adJour {
    height: 30px;
    position: relative;
    top: 20px;
    bottom: 60px;
    /* border: 2px solid red; */
}

@media(max-width: 768px) {
    .Jour{
        position: relative;
        top: 70px;
    }
    
    .Jour > h2 {
        font-size: 25px;
    }
    
    .Jour > p {
        font-size: 14px;
    }
    
    .JourImage {
        display: none;
    }

    .JourImageMob {
        display: block;
        width: 360px;
        margin: 0 auto;
        margin-top: 50px;
    }

    .adJour {
        /* border: 1px solid red; */
        top: 140px;
    }
    
}