.Jour{
    position: relative;
    /* top: 700px; */
    bottom: 50px;
    padding-bottom: 20px;
}

.Jour > h2 {
    text-align: center;
    color: rgba(0, 21, 146, 1);
    font-size: 30px;
    font-weight: bolder;
    padding-top: 16px;
    position: relative;
    top: 20px;
}

.Jour > p {
    font-size: 16px;
    text-align: center;
    color: rgba(0, 21, 146, 0.77);
    position: relative;
    /* bottom: 20px; */
    font-weight: bolder;
}

.JourImage {
    display: flex;
    margin: 0 auto;
    margin-top: 50px;
}

.JourImageMob {
    display: none;
}

.adJour {
    height: 30px;
    position: relative;
    top: 20px;
    bottom: 60px;
    /* border: 2px solid red; */
}

@media(max-width: 768px) {
    .Jour{
        position: relative;
        top: 600px;
    }
    
    .Jour > h2 {
        font-size: 25px;
    }
    
    .Jour > p {
        font-size: 14px;
    }
    
    .JourImage {
        display: none;
    }

    .JourImageMob {
        display: block;
        width: 400px;
        margin: 0 auto;
    }

    .adJour {
        top: 640px;
    }
    
}