@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.pro {
    height: 600px;
    background: linear-gradient(to top, rgba(255, 255, 255, 1),rgba(215, 239, 235, 0.479), rgba(215, 239, 235, 1));
    margin-bottom: 100px;
    display: flex;
    align-items: center;
}

.cont {
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
    height: 320px;
    width: 600px;
    margin-left: 100px;
}

.Name {
    color: rgba(12, 45, 42, 1);
    font-weight: bold;
    font-size: 40px;
    line-height: 1.2;
    z-index: 2;
}

.glow {
    color: rgba(12, 45, 42, 1);
    font-weight: bold;
    font-size: 34px;
    line-height: 1.2;
    z-index: 2;
    width: 470px;
}

.quickAbout {
    color: rgba(12, 45, 42, 0.678);
    font-weight: bold;
    font-size: 16px;
    line-height: 1.2;
    width: 530px;
    z-index: 2;
}

.CheckResume {
    position: relative;
    top: 30px;
    width: 280px;
    height: 55px;
    border-radius: 15px;
    border: none;
    color: black;
    font-size: 20px;
    font-weight: bolder;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
    transition: transform 0.3s ease;
    transition: all 0.3s ease;
    z-index: 2;
}

@property --angle {
    syntax: "<angle>";
    inherits: false;
    initial-value: 0deg;
}

.CheckResume::after {
    content: "";
    position: absolute;
    inset: 0;
    padding: 4px;
    border-radius: inherit;
    background-image: conic-gradient(
        from var(--angle),
        rgba(142, 168, 166, 1) 0%,
        rgba(40, 80, 76, 1) 50%,
        rgba(142, 168, 166, 1) 100% 
    );

    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    animation: rotateBorder 2s linear infinite;
    z-index: -1;
}

@keyframes rotateBorder {
    to {
        --angle: 360deg;
    }
}

.CheckResume:hover {
    transform: scale(1.02);
    box-shadow: 0px 0px 10px rgba(12, 45, 42, 0.705);
    cursor: pointer;
}

.my-image {
    display: flex;
    margin-top: 5px;
}

.hi {
    position: relative;
    display: block;
    height: 135px;
    width: 135px;
    bottom: 55px;
    right: 5px;
    transition: all 0.09s ease-out;
}

.Prof_img {
    width: 290px;
    height: 290px;
    background-color: rgba(128, 146, 255, 1);
    border-radius: 50%;
    box-shadow: 0 0 25px rgba(67, 95, 255, 1), 0 0 7px rgba(67, 95, 255, 1);
}

.muthu {
    display: block;
    position: relative;
    left: 150px;
    bottom: 15px;
    height: 430px;
    width: 430px;
    transition: all 0.3s ease;
    filter: drop-shadow(0 0 5px #7c7c81);
    z-index: 1;
}

.muthu:hover {
    transform: scale(1.01);
    filter: drop-shadow(0 0 7px #494949);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}


@media (max-width: 768px) {

    .pro {
        height: 800px;
        margin-bottom: 0px;
    }

    .muthu {
        display: block;
        position: absolute;
        top: 110px;
        left: 12vw;
        margin: 0 auto;
        height: 76vw;
        width: 76vw;
        z-index: 10;
    }

    .cont {
        margin-top: calc(76vw + 40px);
        right: 60px;
    }

    .hi {
        position: absolute;
        height: 100px;
        width: 100px;
        top: 70px;
        right: 65px;
        z-index: 2;
    }

    .Name {
        top: 450px;
        left: 30px;
        font-size: 25px;
    }

    .glow {
        font-size: 25px;
        width: 340px;
    }

    .quickAbout {
        font-size: 15px;
        width: 355px;
    }

    .CheckResume {
        top: 30px;
        width: 220px;
        height: 50px;
        font-size: 18px;
    }
}