.ProjBlock {
    width: 388px;
    height: 500px;
    background-color: rgba(220, 222, 228, 0.562);
    border-radius: 15px;
    margin: 15px;
    border: 1px solid rgba(220, 222, 228, 1);
    box-shadow: 2px 3px 10px rgba(36, 56, 114, 0.486);
    transition: all 0.3s ease;
}

.ProjBlock:hover {
    transform: scale(1.02);
    box-shadow: 5px 6px 15px rgba(36, 56, 114, 0.486);
}

.ProjBlock > h2 {
    position: relative;
    left: 20px;
    top: 0px;
    font-size: 24px;
}

.year {
    position: relative;
    left: 270px;
    bottom: 50px;
}

.image {
    display: block;
    position: relative;
    width: 350px;
    height: 180px;
    background-color: white;
    margin: 0 auto;
    bottom: 55px;
    border: 1px solid gray;
    border-radius: 10px;
}

.lan {
    display: flex;
    position: relative;
    bottom: 50px;
    margin: 20px;
}

.lanBlock {
    height: 25px;
    /* width: 100px; */
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 22, 146, 0.685);
    border-radius: 20px;
    color: rgba(0, 22, 146, 0.74);
    font-size: 14px;
}

.def {
    width: 320px;
    font-size: 13px;
    font-weight: 700;
    position: relative;
    bottom: 55px;
    left: 20px;
    color: rgba(63, 70, 111, 1);
}

.ProjBlock > button {
    display: block;
    position: relative;
    margin: 0 auto;
    left: 0px;
}

.ProjBlock > a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 100px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: rgb(25, 40, 128);
    background-color: rgb(154, 163, 218);
    border-radius: 20px;
    position: relative;
    bottom: 60px;
    left: 250px;
}