.skill_block {
    background-color: rgba(233, 233, 233, 1);
    width: 1100px;
    height: 620px;
    margin: 0 auto;
    position: relative;
    bottom: 100px;
    border-radius: 20px;
    box-shadow: inset 0px 0px 14px rgba(69, 83, 160, 0.486);
}
.adSkill {
    height: 20px;
    position: relative;
    /* top: 610px; */
    bottom: 100px;
    /* border: 1px solid red; */
}

.skill_tit {
    text-align: center;
    color: rgba(0, 21, 146, 1);
    font-size: 30px;
    font-weight: bolder;
    padding-top: 25px;
}

.skill_sub {
    text-align: center;
    color: rgba(0, 21, 146, 0.77);
    font-size: 16px;
    font-weight: bolder;
    padding-top: 6px;
}

.Frontend, .Backend, .Other {
    background: rgba(0, 0, 0, 0);
    width: 450px;
    height: 200px;
    border: 3px solid rgba(96, 104, 148, 0.151);
    border-radius: 18px;
    z-index: 2;
    box-shadow: 3px 3px 15px rgba(175, 180, 211, 1);
    transition: transform 0.2s ease;
}

.Frontend:hover, .Backend:hover, .Other:hover {
    transform: scale(1.03);
    box-shadow: 5px 5px 15px rgba(175, 180, 211, 1);
}

.Frontend > h1, .Backend > h1, .Other > h1 {
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
}

.Frontend {
    position: absolute;
    left: 80px;
    top: 140px;
}


.Backend {
    position: absolute;
    right: 80px;
    top: 140px;
}

.Other {
    position: absolute;
    left: 200px;
    top: 370px;
    width: 690px;
}

.skill_block  div  img {
    height: 30px;
    width: 30px;
}

.Frontend > div, .Backend > div, .Other > div {
    border: 2px solid rgba(76, 90, 174, 1);
    display: flex;
    /* width: 150px; */
    height: 40px;
    text-align: center;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
}



.Frontend > div > p , .Backend > div > p , .Other > div > p {
    padding-left: 8px;
    color: rgba(76, 90, 174, 1);
    font-size: 16px;
    font-weight: bolder;;
    font-size: 16px;
    font-weight: bolder;
}

.html{
    width: 115px;
    position: absolute;
    left: 80px;
    top: 65px;
}

.javaScript{
    width: 150px;
    position: absolute;
    left: 215px;
    top: 65px;
}

.css {
    width: 90px;
    position: absolute;
    left: 105px;
    top: 120px;
}

.reactJS {
    width: 125px;
    position: absolute;
    left: 210px;
    top: 120px;
}

.java {
    width: 100px;
    position: absolute;
    left: 100px;
    top: 65px;
}

.nodeJS {
    width: 120px;
    position: absolute;
    left: 220px;
    top: 65px;
}

.springBoot {
    width: 160px;
    position: absolute;
    left:140px;
    top: 120px;
}

.mongoDB {
    width: 140px;
    position: absolute;
    left: 60px;
    top: 65px;
}

.mySQL {
    width: 120px;
    position: absolute;
    left: 217px;
    top: 65px;
}

.figma {
    width: 130px;
    position: absolute;
    left: 353px;
    top: 65px;
}

.maven {
    width: 120px;
    position: absolute;
    left: 500px;
    top: 65px;
}

.git {
    width: 85px;
    position: absolute;
    left: 235px;
    top: 125px;
}

.gitHub {
    width: 120px;
    position: absolute;
    left: 340px;
    top: 125px;
}

@media(max-width: 768px) {
    .skill_block {
        width: 380px;
        height: 835px;
        top: 530px;
    }
    
    .skill_tit {
        font-size: 25px;
    }
    
    .skill_sub {
        font-size: 14px;
    }
    
    .Frountend, .Backend, .Other {
        width: 350px;
        height: 200px;
        position: relative;
        margin: 0 auto;
        left: 0px;
    }
    
    .Frountend > h1, .Backend > h1, .Other > h1 {
        text-align: center;
        font-size: 18px;
    }
    
    .Frountend {
        top: 30px;
    }
    
    
    .Backend {
        top: 50px;
    }
    
    .Other {
        top: 70px;
        height: 240px;
    }
    
    .skill_block  div  img {
        height: 30px;
        width: 30px;
    }
    
    .html{
        left: 30px;
        top: 55px;
    }
    
    .javaScript{
        left: 165px;
        top: 55px;
    }
    
    .css {
        left: 65px;
        top: 115px;
    }
    
    .reactJS {
        left: 170px;
        top: 115px;
    }
    
    .java {
        left: 50px;
        top: 55px;
    }
    
    .nodeJS {
        left: 170px;
        top: 55px;
    }
    
    .springBoot {
        position: relative;
        left:0px;
        top: 75px;
        margin: 0 auto;
    }
    
    .mongoDB {
        left: 30px;
        top: 55px;
    }
    
    .mySQL {
        width: 120px;
        position: absolute;
        left: 190px;
        top: 55px;
    }
    
    .maven {
        left: 50px;
        top: 115px;
    }
    
    .git {
        left: 185px;
        top: 115px;
    }
    
    .gitHub {
        left: 35px;
        top: 175px;
    }
    
    .figma {
        left: 173px;
        top: 175px;
    }

    .adSkill {
        top: 535px;
    }
}