.main {
    width:150px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 20px;
    left:30px;
}

.logo {
    width: 50px;
    height: 30px;
    border-radius: 15px;
    background-color: rgba(123, 142, 255, 1);
    margin: 2px;
}

h1 {
    color: rgba(123, 142, 255, 1);
    font-size: 20px;
    font-weight: bold;
    margin: 8px;
}

.nav {
    position: absolute;
    top: 30px;
    left: 500px;
    width: 380px;
    margin: 0 auto;
}

.nav > a{
    text-decoration: none;
    font-weight: 600;
    color: rgba(67, 95, 255, 1);
    padding: 10px;
}

.Menu_But {
    background: none;
    height: 35px;
    width: 40px;
    border: none;
    position: absolute;
    left: 1220px;
    top: 20px;
}

.menu {
    width: 20px;
    height: 20px;
}

@media (max-width: 768px) {
    .main {
        width:130px;
        top: 20px;
        left:20px;
    }
    
    .logo {
        width: 35px;
        height: 20px;
    }
    
    h1 {
        font-size: 18px;
    }
    
    .nav {
        display: none;
    }
    
    .Menu_But {
        left: 350px;
        top: 5px;
    }
}